* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: white;
}

h2 {
    font-weight: bold;
    font-size: 32px;
}

h5{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

header {
    background-color: dodgerblue;
    height: 100px;
}

main {
    display: flex;
    column-gap: 50px;
    padding-top: 40px;
    padding-left:40px;
}

button {
    margin-top: 10px;
}

form {
    border-bottom: solid gray 2px;
    padding-bottom: 25px;
}

li {
    margin-top: 20px;
 }

 i {
    font-size: 80px;
    margin: 20px;
 }

#today {
    height: 250px;
    background-color: lightblue;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
}

#upcoming {
    height: 250px;
    column-gap: 20px;
}

 #data-container {
    display: flex;
    align-items:center;
 }

 .card {
    background-color: lightblue;
 }